-e git+git@github.com:kynan/nbstripout.git@1056b101a0ecf40d7c8722f95632f8c37c9c7fb4#egg=nbstripout
Pillow==4.3.0
jupyter-core==4.4.0
matplotlib==2.1.0
numpy==1.13.3
pandas==0.22.0
pandoc-fignos==1.2.0
pandoc-img-glob==0.1.3
pandoc-source-exec==0.2.1
panflute==1.10.6
requests==2.18.4
scipy==0.19.1
